.header {
  height: 56px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 19px 16px;
  align-items: center;
}

.menuButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer !important;
}

.mobileNav {
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 999999;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #a400ff, #6b00ff);
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.mobileNavContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mobileNavHeader {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  align-self: stretch;
}

.mobileNavListWrapper {
  margin-top: 24px;
  padding: 0 16px;
}

.desktopNavListWrapper a,
.mobileNavListWrapper a {
  text-decoration: none;
  color: #ffffff;
}

.desktopNavListWrapper a:hover,
.mobileNavListWrapper a:hover {
  color: #141314;
}

.desktopNavListWrapper a:focus,
.mobileNavListWrapper a:focus {
  color: #c4c7cc;
}

.mobileNavList {
  list-style: none;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.23;
  letter-spacing: 0.8px;
  text-align: right;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 24px;
}

.mobileNavFooter {
  align-self: flex-end;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 16px;
}

.mobileNavFooterLogoWrapper {
  display: flex;
}

.mobileNavFooterLogoWrapper img {
  width: 100%;
}
.copyRightText {
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 0.8px;
  color: #f7f8fa;
  margin-top: 8px;
}

.sideMenuWrapper {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header {
    display: none;
  }
  .sideMenuWrapper {
    display: block;
    width: 80px;
    height: 100%;
    background-color: #141314;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 11;
    cursor: pointer;
  }
  .sideMenuWrapper:hover {
    background-image: linear-gradient(to bottom, #a400ff, #6b00ff);
  }
  .sideMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .mainContent {
    position: relative;
    left: 80px;
    width: calc(100% - 80px);
  }
}

/** Desktop Nav ***/

.desktopNav {
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 999999;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #a400ff, #6b00ff);
  display: none;
}

.desktopNavCloseIconWrapper {
  width: 80px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktopNavCloseIconWrapper:hover {
  cursor: pointer;
}

.desktopNavContent {
  padding-top: 40px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 80px);
}

.desktopNavHeader {
  margin-bottom: 150px;
}

.desktopNavList {
  list-style: none;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: 32px;
}

.desktopNavFooter {
  align-self: flex-end;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: auto;
}

.desktopNavFooterLogoWrapper {
  width: 335px;
}

.desktopNavFooterLogoWrapper img {
  width: 100%;
}
