* {
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  min-height: 100%;
  position: relative;
}

body {
  /* background-image: linear-gradient(
    to top,
    #9bc5fa 100%,
    #7c68b2 67%,
    #ea70a7 32%,
    #9bc5fa 0%
  ); */

  font-family: "canada-type-gibson", sans-serif;
}

div {
  box-sizing: border-box;
}

.backgroundGradient {
  background-image: linear-gradient(
    to top,
    #9bc5fa 100%,
    #7c68b2 67%,
    #ea70a7 32%,
    #9bc5fa 0%
  );
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.1;
  z-index: 0;
}

.hideBgGradient {
  z-index: -1;
}

.showFlex {
  display: flex;
}

@media screen and (min-width: 1024px) {
  body {
    display: flex;
  }
}
