.letStartWrapper {
  padding-top: 48px;
  padding-bottom: 144px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.letStartWrapper::before {
  opacity: 0.1;
  background-image: linear-gradient(
    to top,
    #9bc5fa 100%,
    #7c68b2 67%,
    #ea70a7 32%,
    #9bc5fa 0%
  );
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  content: " ";
}

.letStartContainer {
  margin-bottom: 32px;
}

.letStartContainer h2 {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.8px;
  color: #141314;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.letStartContainer p {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #141314;
}

.whatDescribeYouContainer {
  margin-bottom: 48px;
}

.whatDescribeYouContainer h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #141314;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.whatDescribeYouContainer h4 span {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  padding: 4px 8px;
  background-color: #313233;
  border-radius: 50%;

  font-size: 13px;
  font-weight: 600;
  line-height: 1.85;
  letter-spacing: 0.8px;
  text-align: center;
  color: #f7f8fa;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer button {
  width: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.creatorButton {
  background-image: linear-gradient(to bottom, #9bc5fa, #7c68b2);
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 40px;
  box-shadow: 0 4px 32px 0 rgba(246, 13, 255, 0.1);
  border: solid 1px #2c2b2c;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.stockOwnerButton {
  background-image: linear-gradient(to bottom, #ea70a7, #9bc5fa);
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 40px;
  box-shadow: 0 4px 32px 0 rgba(246, 13, 255, 0.1);
  border: solid 1px #2c2b2c;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.weAreOpenContainer {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 80px; */
  align-items: flex-end;
}

.weAreOpenContainerBgText {
  background: url(/images/text-bg-mobile.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 114px;
  position: relative;
  background-position: -40px;
  bottom: -20px;
}

.weAre {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.8px;
  text-align: right;
  color: #141314;
  text-transform: uppercase;
}

.weAreOpen {
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.8px;
  color: #141314;
  text-transform: uppercase;
}

.sustainCommunities {
  margin-bottom: 40px;
}

.sustainCommunities h4 {
  font-size: 26px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.8px;
  color: #0d2bff;
  width: 237px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.sustainCommunities p {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #141314;
}

.weveBeen p {
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.8px;
  color: #2c2b2c;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .letStartContainer h2 {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.11;
    color: #171919;
  }
  .letStartContainer p {
    max-width: 480px;
  }
  .whatDescribeYouContainer h4 span {
    width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
    padding: 8px 16px;
    border-radius: 50%;
  }
  .buttonContainer {
    flex-direction: row;
    margin-top: 32px;
  }
  .buttonContainer button {
    width: 369px;
    white-space: nowrap;
    padding: 32px 27px;
  }
  .buttonContainer button span {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: 0.8px;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .creatorButton {
    border: solid 1px #2c2b2c;
    border-radius: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }
  .stockOwnerButton {
    border: solid 1px #2c2b2c;
    border-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .weAreOpenContainerCommunity {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
  }
  .sustainCommunities {
    max-width: 352px;
    margin-bottom: 0;
  }
  .weAre {
    font-size: 72px;
    font-weight: 300;
    line-height: 1.11;
  }
  .weAreOpen {
    font-size: 92px;
    font-weight: 900;
    line-height: 1.13;
  }
  .weAreOpenContainerBgText {
    display: none;
  }
  .weAreOpenContainerBgText-tablet {
    background: url(/images/text-bg-tablet.png) no-repeat;
    background-size: contain;
    width: 97%;
    height: 308px;
    position: relative;
    top: 52%;
    /* background-position: -40px 20px; */
    position: absolute;
  }
  .weveBeen {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .weveBeen p {
    max-width: 568px;
  }
  .openCollectiveRounded.last {
    position: relative;
    top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .letStartWrapper {
    padding-left: 64px;
    padding-right: 64px;
  }
  .letStartContainer p {
    max-width: 736px;
  }
  .buttonContainer button {
    width: 432px;
  }
  .weAreOpenContainerCommunity {
    max-width: 879px;
    margin-top: 80px;
  }
  .sustainCommunities h4 {
    width: 100%;
    margin-bottom: 16px;
  }
  .weAreOpenContainerBgText-tablet {
    width: 87%;
    top: 60%;
  }
  .weAreOpen {
    font-size: 128px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
  }
  .openCollectiveRounded.last {
    top: 40px;
  }
}
