.letStartContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.letStartWrapper {
  padding: 48px 16px;
}

.letStartContent::before {
  opacity: 0.1;
  background-image: linear-gradient(
    to top,
    #9bc5fa 100%,
    #7c68b2 67%,
    #ea70a7 32%,
    #9bc5fa 0%
  );
  background-color: #9bc5fa;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  content: " ";
}

.letStartContainer {
  margin-bottom: 32px;
}

.letStartContainer h2 {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.8px;
  color: #141314;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.letStartContainer p {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #141314;
}

.whatDescribeYouContainer {
  margin-bottom: 48px;
}

.whatDescribeYouContainer h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #141314;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.whatDescribeYouContainer h4 span {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  padding: 4px 8px;
  background-color: #313233;
  border-radius: 50%;

  font-size: 13px;
  font-weight: 600;
  line-height: 1.85;
  letter-spacing: 0.8px;
  text-align: center;
  color: #f7f8fa;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer button {
  width: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  outline: none;
  z-index: 11;
}

.creatorButton {
  text-align: center;
  border-radius: 40px;
  box-shadow: 0 4px 32px 0 rgba(246, 13, 255, 0.1);
  border: solid 1px #2c2b2c;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  background-color: transparent;
}

.creatorButton span {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-family: "canada-type-gibson";
  background-image: linear-gradient(to bottom, #9bc5fa, #7c68b2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stockOwnerButton {
  text-align: center;
  border-radius: 40px;
  box-shadow: 0 4px 32px 0 rgba(246, 13, 255, 0.1);
  border: solid 1px #2c2b2c;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: transparent;
}

.stockOwnerButton span {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-family: "canada-type-gibson";
  background-image: linear-gradient(to bottom, #ea70a7, #9bc5fa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.activeOpenSourceCreator {
  background-image: linear-gradient(to bottom, #9bc5fa, #7c68b2);
}

.activeStockOwner {
  background-image: linear-gradient(to bottom, #ea70a7, #7c68b2 99%);
}

.activeStockOwner span,
.activeOpenSourceCreator span {
  background-image: unset;
  color: #fff;
  -webkit-text-fill-color: unset !important;
}

.formInstruction {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #141314;
  max-width: 496px;
  margin-bottom: 32px;
}

.formInputContainer {
  display: flex;
  padding: 16px 32px;
  align-items: center;
  max-width: 496px;
  border-radius: 92px;
  border: 1px solid #979797;
  margin-bottom: 25px;
}

.formInputContainer input {
  border: none;
  margin-left: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 1.2px;
  color: #313233;
  background: transparent;
  z-index: 1;
  outline: none;
  width: 95%;
}

.formInputContainer input::placeholder {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 1.2px;
  color: #a1a1a1;
}

.formCheckboxContainer {
  display: flex;
  align-items: baseline;
  margin-bottom: 31px;
}

.formCheckboxContainer input {
  margin-right: 16px;
  z-index: 1;
}

.formCheckboxContainer label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.8px;
  color: #141314;
  z-index: 1;
  cursor: pointer;
}

.submitContactBtn {
  width: 208px;
  height: 208px;
  padding: 57px 16px 55px;
  border: solid 1px #4e5052;
  background-color: #9d9fa3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-transform: uppercase;
  cursor: pointer;
}

.submitContactBtn a,
.submitContactBtn span {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.45;
  letter-spacing: 1.2px;
  text-align: center;
  color: #dcdee0;
  font-family: "canada-type-gibson";
}

.submitContactBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeFormButton {
  border: solid 1px #a40ce8;
  background-color: #a40ce8;
}

@media screen and (min-width: 768px) {
  .letStartContainer h2 {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.11;
    color: #171919;
  }
  .letStartContainer p {
    max-width: 480px;
  }
  .whatDescribeYouContainer h4 span {
    width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
    padding: 8px 16px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .buttonContainer {
    flex-direction: row;
    margin-top: 32px;
  }
  .buttonContainer button {
    width: 369px;
    white-space: nowrap;
    padding: 32px 27px;
  }
  .buttonContainer button span {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: 0.8px;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .creatorButton {
    border: solid 1px #2c2b2c;
    border-radius: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }
  .stockOwnerButton {
    border: solid 1px #2c2b2c;
    border-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media screen and (min-width: 1024px) {
  .letStartContainer p {
    max-width: 736px;
  }
  .buttonContainer button {
    width: 432px;
  }
  .formContainer {
    margin-left: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .letStartWrapper {
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    align-items: center;
  }
  .letStartContainer p {
    max-width: 736px;
    font-size: 26px;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 0.8px;
  }
  .whatDescribeYouContainer h4 {
    display: flex;
    align-items: center;
  }
  .whatDescribeYouContainer h4 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.54;
    letter-spacing: 0.8px;
  }

  .buttonContainer button {
    width: 395px;
  }
}

@media screen and (min-width: 1440px) {
  .letStartContainer {
    align-self: flex-start;
  }
  .letStartContainer h2 {
    font-size: 92px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: 0.8px;
  }
  .letStartContainer p {
    font-size: 26px;
    line-height: 1.54;
    letter-spacing: 0.8px;
    max-width: 928px;
  }
  .whatDescribeYouContainer h4 {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.33;
  }
  .whatDescribeYouContainer h4 span {
    width: 56px;
    height: 56px;
    font-size: 26px;
    line-height: 1.54;
    letter-spacing: 0.8px;
    text-align: center;
    font-weight: normal;
  }
  .buttonContainer {
    margin-top: 48px;
  }
  .buttonContainer button {
    width: 584px;
  }
  .buttonContainer button span {
    font-size: 42px;
    line-height: 1.33;
    letter-spacing: 0.8px;
  }
}

@media screen and (min-width: 1680px) {
  .whatDescribeYouContainer h4 span {
    margin-right: 36px;
  }
  .formContainer,
  .buttonContainer {
    margin-left: 90px;
  }
  .buttonContainer button {
    width: 465px;
    padding: 72px 73px 72px 75px;
  }
  .buttonContainer button span {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: 0.8px;
  }
}

@media screen and (min-width: 1680px) {
  .buttonContainer button {
    width: 624px;
    padding: 72px 153px 72px 154px;
  }
}

h4.stockOwner,
.stockOwner {
  display: none;
}
