.useYourStockForGood-container {
  padding: 56px 16px 24px;
  background-image: linear-gradient(to bottom, #141314 0%, #141314);
  display: flex;
  flex-direction: column;
  position: relative;
}

.useYourStockForGood-container::before {
  opacity: 0.2;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-image: radial-gradient(
    circle at 50% 50%,
    #7c68b2,
    rgba(234, 112, 167, 0) 75%
  );
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  content: " ";
}

.useYourStockForGood-container h2 {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.8px;
  color: #f0f1f2;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.useYourStockForGood-container h5 {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #f60dff;
  text-transform: uppercase;
  max-width: 238px;
  align-self: flex-end;
}

.stepsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  height: 872px;
}

.step {
  margin-top: 40px;
  width: 135px;
  height: 232px;
  padding: 32px 16px 24px;
  border-radius: 4px;
  border: solid 1px #9d9fa3;
  background-color: #141314;
  display: flex;
  flex-direction: column;
}

.step h3 {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.37px;
  color: #141314;
}

.step p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #9d9fa3;
  min-width: 103px;
}

.step:hover {
  padding: unset;
  box-shadow: 0 4px 32px 0 rgba(246, 13, 255, 0.1);
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(
    to bottom,
    rgba(124, 104, 178, 0.6),
    rgba(234, 112, 167, 0.6) 99%
  );
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, #141314, #141314),
    linear-gradient(
      to bottom,
      rgba(124, 104, 178, 0.6),
      rgba(234, 112, 167, 0.6) 99%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.step:hover .stepContent {
  padding: 32px 16px 24px;
}

.step:hover h3 {
  background-image: linear-gradient(130deg, #7c68b2, #ea70a7);
  line-height: 1.13;
  letter-spacing: 0.8px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: unset;
}

.step:hover p {
  color: #ffffff;
}

@media screen and (min-width: 375px) {
  .step {
    position: absolute;
  }

  .step1 {
    left: 16px;
  }

  .step2 {
    top: 144px;
    right: 16px;
  }

  .step3 {
    left: 16px;
    top: 272px;
  }

  .step4 {
    right: 16px;
    top: 416px;
  }

  .step5 {
    left: 16px;
    bottom: 56px;
  }
}

.step1 h3 {
  -webkit-text-stroke: 2px #2b0ce8;
}
.step2 h3 {
  -webkit-text-stroke: 2px #6b00ff;
}

.step3 h3 {
  -webkit-text-stroke: 2px #f60dff;
}

.step4 h3 {
  -webkit-text-stroke: 2px #a40ce8;
}

.step5 h3 {
  -webkit-text-stroke: 2px #a40ce8;
}

@media screen and (min-width: 768px) {
  .useYourStockForGood-container {
    padding-bottom: 80px;
  }
  .useYourStockForGood-container h2 {
    font-size: 72px;
    line-height: 1.11;
    max-width: 704px;
  }

  .useYourStockForGood-container h5 {
    max-width: 480px;
  }

  .step {
    background-image: linear-gradient(to bottom, #141314 0%, #141314);
    z-index: 1;
    width: 224px;
    height: 400px;
    padding: 64px 22px 112px;
    border-radius: 4px;
    border: solid 1px #9d9fa3;
    background-color: #141314;
  }

  .step:hover .stepContent {
    padding: 64px 22px 112px;
  }
  .step h3 {
    font-size: 92px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: 0.8px;
  }

  .step p {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.4px;
    margin-top: 24px;
  }

  .step5 h3 {
    -webkit-text-stroke: 1px #0d2bff;
  }

  .stepsContainer {
    height: 1120px;
  }

  .step1 {
    left: 16px;
  }
  .step2 {
    top: 104px;
    left: 256px;
  }
  .step3 {
    left: 500px;
    top: 200px;
  }
  .step4 {
    right: 400px;
    top: 536px;
  }
  .step5 {
    left: 400px;
    bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .useYourStockForGood-container {
    padding-left: 64px;
    padding-right: 64px;
  }
  .useYourStockForGood-container h2 {
    max-width: 864px;
  }
  .useYourStockForGood-container h5 {
    font-size: 26px;
    line-height: 1.54;
    letter-spacing: 0.8px;
  }
  .useYourStockForGood-container h5 {
    max-width: 561px;
  }
  .step {
    border-radius: 4px;
    border: solid 1px #9d9fa3;
    background-color: #141314;
  }
  .stepsContainer {
    height: 1080px;
  }
  .step5 {
    left: 432px;
    bottom: 15px;
  }

  .step:hover .stepContent {
    padding: 64px 22px 112px;
  }
}

@media screen and (min-width: 1280px) {
  .step {
    width: 288px;
    padding: 64px 28px 160px;
  }
  .step:hover .stepContent {
    padding: 64px 28px 160px;
  }
  .step2 {
    top: 104px;
    left: 352px;
  }
  .step3 {
    left: 682px;
    top: 200px;
  }
  .step4 {
    right: 656px;
    top: 536px;
  }
  .step5 {
    left: 460px;
    bottom: 5px;
  }
}

@media screen and (min-width: 1440px) {
  .useYourStockForGood-container h2 {
    max-width: 1288px;
    font-size: 128px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: normal;
    color: #f0f1f2;
  }
  .useYourStockForGood-container {
    justify-content: center;
    align-items: center;
  }
  .useYourStockForGood-container h5 {
    align-self: center;
  }
  .stepsContainer {
    width: 100%;
  }
  .step {
    width: 328px;
  }
  .step2 {
    top: 104px;
    left: 390px;
  }
  .step3 {
    left: 766px;
    top: 200px;
  }
  .step4 {
    right: 720px;
    top: 536px;
  }
  .step5 {
    left: 556px;
    bottom: 5px;
  }
}

@media screen and (min-width: 1680px) {
  .useYourStockForGood-container h5 {
    align-self: flex-end;
  }
  .stepsContainer {
    height: fit-content;
  }
  .step {
    position: unset;
    width: 248px;
  }
}

@media screen and (min-width: 1920px) {
  .useYourStockForGood-container h5 {
    align-self: center;
  }
  .step {
    width: 288px;
  }
}

@media screen and (min-width: 2560px) {
  .useYourStockForGood-container h2 {
    max-width: 1748px;
    text-align: center;
    margin-bottom: 0;
  }
  .useYourStockForGood-container h5 {
    align-self: center;
    max-width: fit-content;
    margin-top: 48px;
    margin-bottom: 104px;
  }
  .step {
    width: 395px;
    margin-top: 0;
  }
}
