.whatAreWeDoingContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.whatAreWeDoingContent::before {
  background-color: #9bc5fa;
  background-image: linear-gradient(
    180deg,
    rgba(124, 104, 178, 1) 32%,
    rgba(234, 112, 167, 1) 67%
  );
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.1;
  z-index: 0;
  content: " ";
}

.whatAreWeDoing {
  padding: 56px 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.desktop-logo {
  display: none;
  z-index: 12;
}

.whatAreWeDoing h1 {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.37;
  text-align: right;
  color: #141314;
  text-transform: uppercase;
}

.opensourceCreator-container {
  margin-top: 32px;
  margin-bottom: 16px;
}

.opensourceCreator-container h2 {
  background-image: linear-gradient(to bottom, #9bc5fa, #7c68b2);
  font-size: 35px;
  font-weight: bold;
  line-height: 1.37;
  letter-spacing: 0.67px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 8px;
  text-transform: uppercase;
}

.aboutOpenCollective-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.opensourceCreator-container p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #141314;
}

.stockOwnerContainer h4,
.aboutOpenCollective-container h4 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.54;
  letter-spacing: 0.8px;
  color: #2c2b2c;
  margin-bottom: 16px;
}

.useYourStockForGood,
.openCollectiveRounded {
  width: 176px;
  height: 176px;
  margin: 16px 0 0 111px;
  padding: 52px 24px;
  border: solid 1px #0d2bff;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
}

.useYourStockForGood a,
.openCollectiveRounded a {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.stockOwnerContainer {
  display: flex;
  flex-direction: column;
}

.stockOwnerContainer h2 {
  background-image: linear-gradient(to bottom, #7c68b2, #ea70a7 99%);
  font-size: 35px;
  font-weight: bold;
  line-height: 1.37;
  letter-spacing: 0.67px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.stockOwnerContainer p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #141314;
}

.stockOwnerContainer h4 {
  text-align: right;
}

.illustration {
  width: 100vw;
  height: 320px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: url("/images/Illustrations-mobile.png") no-repeat;
  background-size: cover;
}

.tablet-desktop-illustration {
  display: none;
}

.openSourceCreator-illustration {
  width: 269px;
  object-fit: contain;
}

.stockOwner-illustration {
  width: 271px;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .whatAreWeDoing h1 {
    font-size: 42px;
    line-height: 1.14;
    letter-spacing: 0.8px;
    text-align: right;
    max-width: 480px;
    align-self: flex-end;
  }

  .whatAreWeDoingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .opensourceCreator-container,
  .stockOwnerContainer {
    max-width: 352px;
  }

  .opensourceCreator-container {
    margin-right: 16px;
    margin-top: 0;
    position: relative;
    top: -30px;
  }
  .stockOwnerContainer {
    margin-left: 16px;
  }

  .opensourceCreator-container p,
  .opensourceCreator-container h2 {
    text-align: left;
  }

  .stockOwnerContainer p,
  .stockOwnerContainer h2 {
    text-align: right;
  }

  .useYourStockForGood,
  .openCollectiveRounded {
    margin: 0;
  }

  .areYouReadyContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .stockOwnerContainer h2,
  .opensourceCreator-container h2 {
    margin-top: 0px;
    margin-bottom: 8px;
  }
  .illustration-mobile {
    display: none;
  }
  .tablet-desktop-illustration {
    display: block;
    height: 600px;
    background: url("/images/illustrations-md-768.png") no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .whatAreWeDoing {
    padding-right: 30px;
  }
  .desktop-logo {
    display: block;
    margin-bottom: 64px;
  }
  .whatAreWeDoing h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.11;
    max-width: 722px;
    text-align: right;
    letter-spacing: normal;
  }
  .stockOwnerContainer h2,
  .opensourceCreator-container h2 {
    font-size: 42px;
    line-height: 1.33;
    letter-spacing: 0.8px;
    margin-bottom: 24px;
  }
  .tablet-desktop-illustration {
    align-self: center;
    width: 812px;
    position: relative;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/images/illustrations-md.png") no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 1280px) {
  .whatAreWeDoing {
    max-width: 1183px;
    width: 100%;
    padding-right: 16px;
  }
  .whatAreWeDoing h1 {
    max-width: 928px;
    align-self: flex-end;
  }
  .whatAreWeDoingContainer {
    margin-top: 30px;
  }
  .opensourceCreator-container {
    margin-right: 68px;
  }
  .stockOwnerContainer {
    margin-left: 68px;
  }
  .tablet-desktop-illustration {
    width: 928px;
    height: 500px;
    background: url("/images/illustrations-md-1280.png") no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 1440px) {
  .whatAreWeDoing {
    align-items: center;
  }
  .whatAreWeDoing h1 {
    max-width: 1050px;
    align-self: center;
  }
  .desktop-logo {
    align-self: flex-start;
  }
  .whatAreWeDoingContainer {
    justify-content: flex-end;
  }
  .stockOwnerContainer,
  .opensourceCreator-container {
    max-width: 448px;
  }
  .tablet-desktop-illustration {
    width: 1048px;
    height: 600px;
    background: url("/images/illustrations-lg-1440.png") no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 1680px) {
  .whatAreWeDoing {
    max-width: 1234px;
    align-items: center;
  }
  .whatAreWeDoing h1 {
    max-width: 942px;
    align-self: flex-end;
  }
  .tablet-desktop-illustration {
    width: 974px;
    background: url("/images/illustrations-lg-1680.png") no-repeat;
    background-size: contain;
  }
  .stockOwnerContainer,
  .opensourceCreator-container {
    max-width: 528px;
  }
  .opensourceCreator-container h4,
  .stockOwnerContainer h4 {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1920px) {
  .whatAreWeDoing {
    max-width: 1664px;
  }
  .whatAreWeDoing h1 {
    max-width: 1088px;
    align-self: flex-end;
    font-size: 92px;
    line-height: 1.13;
    letter-spacing: 0.8px;
  }
  .tablet-desktop-illustration {
    width: 1054px;
    height: 563px;
    background: url("/images/illustrations-lg-1920.png") no-repeat;
    background-size: contain;
  }
  .stockOwnerContainer,
  .opensourceCreator-container {
    max-width: 608px;
  }
  .opensourceCreator-container {
    top: -80px;
  }
}

@media screen and (min-width: 2560px) {
  .whatAreWeDoing h1 {
    max-width: 1034px;
  }
  .tablet-desktop-illustration {
    width: 1120px;
    height: 614px;
    background: url("/images/illustrations-lg-2560.png") no-repeat;
    background-size: contain;
  }
  .stockOwnerContainer,
  .opensourceCreator-container {
    max-width: 395px;
  }
}
